.browser
  display: flex;
.column
  border-right: solid 1px rgba(0, 0, 0, .25)
  max-width: 30em
  .column-item
    padding: 0 2px
    overflow: hidden
    white-space: nowrap
    .key, .punctuation
      color: #999
    .string-value
      color: #26A
    .false-value
      color: #A22
    .true-value
      color: #2A2
    .null-value
      color: #988
    .number-value
      color: #E61
    &.selected
      background: #28C
      color: #FFF
      *
        color: #FFF
